@font-face {
  font-family: 'GilroyR', sans-serif;
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
  font-weight: 400;
  font-size: normal;
}

@font-face {
font-family: 'GilroyM', sans-serif;
  src: url(../../assets/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
  font-size: normal;
}

@font-face {
  font-family: 'GilroySM', sans-serif;
  src: url(../../assets/fonts/Gilroy-SemiBold.ttf);
  font-weight: 600;
  font-size: normal;
}

@font-face {
  font-family: 'GilroyB', sans-serif;
  src: url(../../assets/fonts/Gilroy-Bold.ttf);
  font-weight: 700;
  font-size: normal;
}
