@use "../_utils/_mixins.scss" as *;

.advantages {
  padding: 44px 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  &__item {
    display: flex;
    gap: 24px;
  }

  &__item div h1 {
    font-family: "GilroySM", sans-serif;
    font-size: 18px;
  }

  &__item div p {
    font-family: "GilroyM", sans-serif;
    color: #898989;
    font-size: 16px;
  }
}

@include onTablet {
  .advantages {
    padding: 88px 0;

    &__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}