@use "../_utils/_mixins.scss" as *;

.nav-bar {
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  &__item img {
    width: 20px;
    height: 20px;
  }

  &__item {
    &:hover {
      & img {
        transform: rotateY(180deg);
      }
    }
  }

  &__item:last-child {
    &:hover {
      & img {
        transform: scale(1.1);
      }
    }
  }
}

@include onTablet {
  .nav-bar {
    &__list {
      gap: 32px;
    }
  
    &__item img {
      width: 24px;
      height: 24px;
    }

    &__item:last-child img {
      width: 40px;
      height: 40px;
    }
  }
}